/* style.css */

/* 基本样式 */
body {
  margin: 0;
  background-color: white; /* 设定整个页面的背景为白色 */
  color: black; /* 设定默认文字颜色为黑色 */
}

h1, p {
  font-family: 'Lato', sans-serif; /* 保证字体统一 */
}

.gjs-custom-editor {
  background-color: black; /* 黑色背景 */
  color: white; /* 白色文字 */
}

.gjs-custom-editor-canvas {
  background-color: #f5f5f5; /* 灰色背景 */
}

.icon, .fa {
  color: #707070; /* 较深的灰色 */
}

/* 导航栏设置为更深的灰色 */
.bg-dark-gray {
  background-color: white; /* 更深的灰色背景 */
}

.left-sidebar {
  background-color: white; /* 设置背景为白色 */
  color: black; /* 设置文字颜色为黑色 */
}


/* 顶部导航栏设置 */
.topbar {
  background-color: #808080; /* 中灰色背景 */
  color: white; /* 文本颜色改为白色 */
  padding: 10px 20px; /* 根据需要调整内边距 */
  display: flex;
  align-items: center; /* 垂直居中内容 */
  justify-content: space-between; /* 内容平均分布 */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加轻微阴影增加立体感 */
}

.topbar a {
  color: white; /* 设置链接颜色为白色 */
  text-decoration: none; /* 去掉下划线 */
  margin: 0 10px; /* 适当间距 */
}

/* 预览模式下隐藏编辑器的控制面板和工具栏 */
.gjs-preview .gjs-pn-panels,
.gjs-preview .gjs-pn-views,
.gjs-preview .gjs-pn-options,
.gjs-preview .gjs-pn-buttons {
  display: none !important; /* 隐藏所有面板 */
}

/* 预览模式下调整Canvas宽度 */
.gjs-preview .gjs-cv-canvas {
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 9; /* 确保canvas在最前 */
}

/* 预览模式下的编辑器背景 */
.gjs-preview .gjs-editor {
  background-color: white  !important; /* 设置背景色为白色 */
}

/* style.css */
body.preview-mode {
  pointer-events: none;
  user-select: none;
}

.preview-mode .gjs-pn-views-container,
.preview-mode .gjs-top {
  display: none !important;
}

/* 调整工具栏的整体样式 */
.gjs-toolbar {
  font-size: 32px !important; /* 设置工具栏的字体大小 */
  padding: 10px !important; /* 设置工具栏内边距 */
  background-color: #fff !important; /* 设置背景颜色，使用 !important 来覆盖其他样式 */
  border-radius: 5px !important; /* 设置圆角 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important; /* 设置阴影效果 */
}

.gjs-toolbar.hidden {
  display: none; /* 隐藏工具栏的样式 */
}

/* 调整工具栏按钮的样式 */
.gjs-toolbar .gjs-toolbar-item {
  margin: 0 5px; /* 设置按钮之间的间距 */
  padding: 5px 10px; /* 设置按钮内边距 */
  font-size: 32px; /* 设置按钮的字体大小，使图标更大 */
  background-color: #eee; /* 设置按钮背景颜色 */
  border-radius: 3px; /* 设置按钮的圆角 */
  transition: background-color 0.3s; /* 设置按钮背景色的过渡效果 */
  width: 48px;
}

/* 调整工具栏中 SVG 图标的大小 */
.gjs-toolbar .gjs-toolbar-item svg {
  width: 32px;  /* 设置图标的宽度 */
  height: 32px; /* 设置图标的高度 */
  vertical-align: middle; /* 确保图标垂直居中对齐 */
  background-color: black; /* 设置图标背景色为黑色 */
  border-radius: 3px; /* 为图标增加圆角，以适应整体样式 */
  padding: 4px; /* 增加内边距，让图标有足够的空间 */
  fill: white; /* 确保图标内容的颜色为白色，以在黑色背景上清晰显示 */
}

/* 设置按钮悬停效果 */
.gjs-toolbar .gjs-toolbar-item:hover {
  background-color: #ccc; /* 鼠标悬停时的背景颜色 */
}

/* 如果有特定的图标类名，可以进一步自定义图标样式 */
.gjs-toolbar .gjs-toolbar-item .fa {
  font-size: 32px; /* 如果图标是 FontAwesome 字体，则调整其大小 */
}
